<div>
  <button (click)="prikaziProfil()">Profil</button> | <button (click)="prikaziVikendice()">Vikendice</button> | <button (click)="prikaziRezervacije()">Rezervacije</button>
</div>
<br/>
<div>
  <button (click)="promenaLozinke()">Promena lozinke</button> | <app-logout></app-logout>
</div>

@if(profil) {
  <app-turista-profil></app-turista-profil>
}
@else if(vikendice) {
  <app-turista-vikendice></app-turista-vikendice>
}
@else if(rezervacije) {
  <app-turista-rezervacije></app-turista-rezervacije>
}
